<html>
	<body>

		<p id="notice"  role="alert" class=" alert-success" role="alert"> <%= notice %> </p>

			<div class = "jumbotron jumbotron fluid">
				<div class =  "container">
					<h1 class="my-4"> Bienvenue sur le site des potins de THP <br/></h1>
				</div>
				 <div class="card-body text-center">
				<a class="btn btn-outline-warning " href =	<%= link_to "Enregistrer un potin", new_gossip_path %> </div> <br/> </a>
			</div>
			</div>


<div class="container">



<h3><br/> Voir tous les potins </h3>
 
	<div class="card-columns">

		<% Gossip.all.each_with_index do |gossip| %>
		  <div class="card text-white bg-dark mb-3">
		    <div class="card-body">
		      <h5 class="card-title"> <%= gossip.title %> </h5>

		      <p class="card-text"> écrit par <%= gossip.user.first_name + " " + gossip.user.last_name %> </p>
		    </div>

		    <div class="card-footer">
		      <small class="text-muted"> 

		      	<%= Comment.where(gossip_id: gossip.id).count || 0 %> commentaire(s) <br/>

		      	<button class="btn btn-warning"><%= link_to 'Voir ce potin',gossip_path(gossip.id) %> </button> </small>
		    </div>
		  </div>

		<% end %>

	</div>

</div>

</body>
</html>