<h1>Bonsoooir et bienvenue sur le gossip numéro <%= params["id"] %>  <br/> </h1>

<p>

	<div class="card">

	  <div class="card-body">

	    <h2 class="card-title text-center"> <br/><%= @gossip.title %> </h5>
	    <p class="card-text"> <br/> <br/> <%= @gossip.content %> </p>
	  </div>
	  
	  <ul class="list-group list-group-flush">

	    <li class="list-group-item text-right">écrit par <%= @gossip.user.first_name %></li>
	 

	  	<li class="card-footer"> <small class="text-muted">créé le : <%= @gossip.created_at%></small></li>
	  </ul>

	  <div class="card-body text-center">
			<a href="/<%= @gossip.user.first_name %>/" class="badge badge-pill badge-danger"> Clique ici pour voir la fiche complète de cette commère </a>
		</div>	
	</div>


</p>

