
<h1>Bienvenue sur la fiche utilisateur de <%= params["user"] %>  <br/> </h1>

<p>

<div class="card">
	  <img class="card-img-top" src="https://i.kym-cdn.com/entries/icons/facebook/000/016/546/hidethepainharold.jpg" alt="Card image cap">
	  
	  <div class="card-body">

	    <h5 class="card-title text-center"><%= @user.first_name + " " + @user.last_name%></h5>
	    <p class="card-text"> <br/> <br/> Se définit comme : <%= @user.description %>  </p>
	  </div>
	  
	  <ul class="list-group list-group-flush">

	    <li class="list-group-item "> Age : <%= @user.age %> ans <br/></li>
	 		<li class="list-group-item "> Email : <%= @user.email%> <br/></li>
	    <li class="list-group-item "> Ville : <%= @user.city.name%>  <br/></li>

	  </ul>

	  <div class="card-body text-center">
			<a href="/home" class="badge badge-pill badge-danger"> Retour maison </a>
		</div>	
	</div>




</p>
